<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/main" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>포스트</title>
</head>

<body>
    <div class="container" layout:fragment="content">
        <ul class="pager">
            <li class="next">
                <a th:href="@{'/posts/edit/' + ${post.id}}">edit</a>
            </li>
        </ul>
        <div class="row">
            <h1 class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" style="margin-bottom:3%" th:text="${post.title}">
            </h1>
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1" th:utext="${post.content}">
            </div>
        </div>
    </div>
</body>

</html>
